<div class="container-fluid">
	<form role="form">
		<div class="form-group">
			<div class="row">
				<div class="col-md-1">
					<label for="method">Method&nbsp;:</label>
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control" id="method" ng-model="method">
				</div>
			</div><br/>
			<div class="row">
				<div class="col-md-1">
					<label for="url">URL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" id="url" ng-model="url">
				</div>
			</div><br/>
			<div class="row">
				<div class="col-md-1">
					<label for="url">Users#&nbsp;&nbsp;:</label>
				</div>
				<div class="col-md-1">
					<input type="text" class="form-control" id="url" ng-model="url">
				</div>
			</div><br/>
			<div class="row">
				 
				<div class="col-md-4"></div>
				<div class="col-md-4">	 
				    <button type="submit" class="btn btn-success " id="method" ng-model="method">Start</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <button type="button" class="btn btn-danger " id="method" ng-model="method">Stop</button>
				</div>
			</div>	
		</div>
	</form>
</div>